<div class="wordle-container">
  <p class="text">MindGames: <b>Word Hunt</b></p>
  <!-- Word Grid -->
  <div class="word-grid">
    <div *ngFor="let row of grid; let i = index" class="word-row">
      <div *ngFor="let cell of row; let j = index" class="word-cell" [class.correct]="cell.status === 'correct'"
        [class.present]="cell.status === 'present'" [class.absent]="cell.status === 'absent'">
        {{ cell.letter }}
      </div>
    </div>
  </div>

  <!-- Feedback -->
  <div class="feedback">
    <p class="message text" style="font-size: 13px;"> Word:{{ currentWordIndex +1}}</p>
    <p class="message">{{ message }}</p>
  </div>

  <!-- Keyboard -->
  <div class="keyboard">
    <!-- Row 1 -->
    <div class="row">
      <button *ngFor="let key of keyboard.slice(0, 10)" (click)="onKeyPress(key)"
        [class.correct]="key.status === 'correct'" [class.present]="key.status === 'present'"
        [class.absent]="key.status === 'absent'">
        {{ key.letter }}
      </button>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <button *ngFor="let key of keyboard.slice(10, 19)" (click)="onKeyPress(key)"
        [class.correct]="key.status === 'correct'" [class.present]="key.status === 'present'"
        [class.absent]="key.status === 'absent'">
        {{ key.letter }}
      </button>
    </div>

    <!-- Row 3 (Includes Backspace) -->
    <div class="row">
      <button *ngFor="let key of keyboard.slice(19, 26)" (click)="onKeyPress(key)"
        [class.correct]="key.status === 'correct'" [class.present]="key.status === 'present'"
        [class.absent]="key.status === 'absent'">
        {{ key.letter }}
      </button>
      <button style="background-color: red; color: white;" (click)="onBackspace()">⌫</button>
    </div>

    <!-- Special Buttons Row -->
    <div class="special-buttons">
      <button style="background-color: rgb(93, 151, 93); color: white;" (click)="onEnter()">Guess!</button>
      <button routerLink="/rules">📖 Rules</button>
      <button (click)="prevWord()" [disabled]="currentWordIndex === 0">Previous</button>
      <button (click)="nextWord()" [disabled]="!canGoNext">Next</button>
    </div>
  </div>

  <p class="footer text">Developed by <b>Thulunga Basumatary</b> with ❤️</p>

</div>
